<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <% if @user.image.attached? %>
        <%= link_to user_path(user.id) do %>
          <td><%= image_tag user.get_image, size: "80x80" %></td>
        <% end %>
      <% else %>
        <td><%= image_tag 'no_image', size: "80x80" %></td>
      <% end %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  